@import '~antd/dist/antd.css';

.layout{
  height: 100%;
  position: relative;
}

.login-form {
  width: 100%;
  margin-top: 30px;
}
.login-form-button {
  width: 100%;
}

.header {
  height: 80px;
}

.content {
  min-height: 83vh;
  background-color: azure;
}

.search-form {
  float: right;
  margin-top: 20px;
}

.logo {
  font-size: 80px;
  text-align: center;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 7px;
  color: rgba(255, 255, 255, 0.2);
  float: left;
  justify-content: center;
  align-items: center;
}

.menu {
  font-size: 16px;
}

.footer {
  background-color: #001529;
  color: whitesmoke;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 80vh;
  line-height: 80vh;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.card {
  width: 300px;
  margin: 50px;
}